{{- if .Values.coredns.enabled -}}
apiVersion: v1
kind: Service
metadata:
  labels:
    app: coredns
  name: coredns
  namespace: gardener-extension-provider-local-coredns
spec:
  type: {{ .Values.coredns.service.type }}
  selector:
    app: coredns
  ports:
  - name: tcp
    port: 53
    protocol: TCP
    targetPort: 9053
    {{- if and (eq .Values.coredns.service.type "NodePort") .Values.coredns.service.nodePort }}
    nodePort: {{ .Values.coredns.service.nodePort }}
    {{- end }}
  - name: udp
    port: 53
    protocol: UDP
    targetPort: 9053
    {{- if and (eq .Values.coredns.service.type "NodePort") .Values.coredns.service.nodePort }}
    nodePort: {{ .Values.coredns.service.nodePort }}
    {{- end }}
{{- end -}}
